.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 15px;
}
.player-container{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  margin-bottom: 15px;
}
.player{
}
.wager{
  color: black;
  width: 20vw;
  max-width: 20vw;
  text-align: center;
}